html {
	font-family: sans-serif;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: #333;
	color: #eee;
	overflow: hidden;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

.gamepad {
}

.gamepad:-webkit-full-screen,
.gamepad:-moz-full-screen,
.gamepad:fullscreen {
	width: 100vw;
	height: 100vh;
}

.fullscreen {
	width: 100%;
	height: 100%;
}

.options {
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-start,
.flex-end {
	flex: 0 1 auto;
}

.flex-middle {
	flex: 1 1 auto;
}

.text-center {
	text-align: center;
}

button.btn {
	background: transparent;
	color: #fff;
	border: none;
}

button.btn:hover {
	background: #777;
}

button.btn:active {
	background: #ccc;
	color: #333;
}

button.btn-default {
	background: #555;
	padding: 0.75em 1.5em;
	border: 1pxx solid #999;
}

.frame-container {
	position: relative;
}
.frame-container .frame {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
