<!doctype html>
<html>
	<head>
		<title>GoStick</title>
		<link rel="stylesheet" href="main.css" />
		<meta name="viewport" content="initial-scale=1, user-scalable=0">
	</head>
	<body>
		<div style="width: 100vw; height: 100vh;">
			<object 
				type="image/svg+xml" data="gamepad.svg"
				id="svg" width="100%" height="100%"
				style="width: 100vw; height: 100vh;"
			></object>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
