<!doctype html>
<html>
	<head>
		<title>GoStick</title>
		<link rel="stylesheet" href="main.css" />
		<meta name="viewport" content="initial-scale=1, user-scalable=0">
	</head>
	<body class="flex" style="flex-direction: column;">
		<div style="flex: 0 1 auto;" class="title">GoStick</div>
		<div style="flex: 0 1 auto;" class="header">Select a port</div>
		<div style="flex: 5 5 auto;" class="port-selector">
			{{ range $i, $e := .Ports }}
			<a href="/{{$e}}" class="btn" style="flex: 1 1 auto;">
				{{ $e }}
			</a>
			{{ end }}
		</div>
	</body>
</html>
